body {
  margin: 0;
  user-select: none;
  animation-name: body;
  animation-duraction: 20s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
}
@keyframes body {
25% {background-color: blue; color: red;}
  50% {background-color: yellow; color: blue;}
  75% {background-color: purple; color: yellow;}
  100% {background-color: red; color: blue;}
}
h1 {
  margin: 0;
  user-select: none;
}
p {
  margin: 0;
  user-select: none;
  align-self: center;
  text-transform: capitalize;
}
h2 {
  margin: 0;
  user-select: none;
  text-transform: uppercase;
  animation-name: flits;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  opacity: 1;
}
@keyframes flits {
  50% {
    opacity: 0;
  }
}
div {
  display: flex;
  position: absolute;
  left: 70vh;
  top: 20vh;
  font-size: 50px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
#box2 {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 250px;
  position: absolute;
  top: 30vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: center;
  align-items: center;
  left: 72vh;
}
button {
  z-index: 2;
  cursor: pointer;
  background-color: yellow;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: relative;
  left: 80vh;
  top: 70vh;
  font-weight: bold;
  margin: 30px;
  user-select: none;
}

#reset {
  height: 60px;
  width: 120px;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border: 3px dashed rgb(0, 255, 234);
  outline: 2px solid rgb(30, 0, 255);
  position: absolute;
  top: 80vh;
  left: 190vh;
}
#reset:hover {
  transform: scale(1.1);
}
#reset:active {
  transform: scale(0.9);
}
#coin1 {
  animation-name: coin1;
  animation-duration: 10s;
  animation-direction: normal;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
#coin2 {
  animation-name: coin2;
  animation-duration: 5s;
  animation-direction: normal;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}
#coin3 {
  animation-name: coin3;
  animation-duration: 5s;
  animation-direction: normal;
  animation-delay: 6s;
  animation-iteration-count: infinite;
}
@keyframes coin1 {
  0% {
    transform: translateY(-60vh) translate(400px) rotate(1080deg);
  }
  20% {
    transform: translateY(-20vh) translate(600px) rotate(1080deg);
  }
  40% {
    transform: translateY(-40vh) translate(-450px) rotate(1080deg);
  }
  60% {
    transform: translateY(-10vh) translate(300px) rotate(1080deg);
  }
  80% {
    transform: translateY(-80vh) translate(450px) rotate(1080deg);
  }
  100% {
    transform: translate(-350px) translateY(-60px) rotate(1080deg);
  }
}
@keyframes coin2 {
  0% {
    transform: translate(-500px) translateY(-40vh);
  }
  20% {
    transform: translateY(10px) translate(450px) rotate(1080deg);
  }
  40% {
    transform: translateY(-70vh) translate(-300px) rotate(1080deg);
  }
  60% {
    transform: translateY(-40vh) translate(100px) rotate(1080deg);
  }
  80% {
    transform: translateY(-50px) translate(-400px) rotate(1080deg);
  }
  100% {
    transform: translateY(-50px) translate(80px) rotate(1080deg);
  }
}
@keyframes coin3 {
  0% {
    transform: translate(-80px) translateY(-50vh) rotate(1080deg);
  }
  10% {
    transform: translateY(-50vh) translate(300px) rotate(1080deg);
  }
  20% {
    transform: translateY(-10vh) translate(-300px) rotate(1080deg);
  }
  30% {
    transform: translateY(-30vh) translate(20px) rotate(1080deg);
  }
  40% {
    transform: translateY(30px) translate(-430px) rotate(1080deg);
  }
  50% {
    transform: translateY(-60vh) translate(200px) rotate(1080deg);
  }
  60% {
    transform: translate(-300px) translateY(-40vh) rotate(1080deg);
  }
  70% {
    transform: translate(0px) translateY(-90vh) rotate(1080deg);
  }
  80% {
    transform: translateY(-10vh) translate(100px) rotate(1080deg);
  }
  90% {
    transform: translateY(-30vh) translate(300px) rotate(1080deg);
  }
  100% {
    transform: translateY(30px) translate(-430px) rotate(1080deg);
  }
}
