body {

font-family:Arial;

text-align:center;

margin:0;

overflow:hidden;

height:100vh;

color:white;

background:linear-gradient(#061a33,#2563a6);

transition:0.5s;

}


button {

padding:12px 20px;

margin:5px;

font-size:18px;

border:none;

border-radius:10px;

background:#009dff;

color:white;

position:relative;

z-index:100;

}


#game {

display:none;

}



#target {


width:70px;

height:70px;

background:red;

border-radius:50%;

position:fixed;

z-index:50;

box-shadow:0 0 25px red;

touch-action:none;

}



.enemy {


width:50px;

height:50px;

background:#008cff;

border-radius:50%;

position:fixed;

z-index:40;

box-shadow:0 0 20px #008cff;

}



#result {


position:fixed;

top:55%;

left:50%;

transform:translate(-50%,-50%);

font-size:28px;

color:gold;

z-index:200;

}



#restartBtn {


display:none;

position:fixed;

bottom:30px;

right:30px;

}



.moon {


position:fixed;

top:40px;

right:50px;

width:90px;

height:90px;

background:white;

border-radius:50%;

}



.mountains {


position:fixed;

bottom:0;

width:100%;

height:140px;

background:#334155;

clip-path:polygon(
0 100%,
20% 40%,
40% 100%,
60% 35%,
80% 100%,
100% 50%,
100% 100%
);

}



.trees {


position:fixed;

bottom:0;

height:90px;

width:100%;

background:#111827;

}
